@model IEnumerable<Movieproject.Models.ViewModels.OrderHistoryVM>

@{
    ViewBag.Title = "CheckOrders";
}

<h2>Order History</h2>
<form>
    <div class="col-sm-12">
        <label>Email:</label>
        <input type="text" placeholder="Enter Your Email" name="email" />
        <button>Check Orders</button>

    </div>

    @if (Model.Count() > 0)
    {

        foreach (var orderid in Model.Select(m => m.OrderId).Distinct())
        {
            <div class="col-sm-12 jumbotron" style="background-color:navajowhite">
                <div class="col-sm-12"><b>Order No: </b>@orderid</div>
                <div class="col-sm-12">
                    <span class="col-sm-1"><b>Movie</b></span>
                    <span class="col-sm-1"><b>No.of Copies</b></span>
                    <span class="col-sm-1"><b>Price</b></span>

                </div>

                <br />
                @foreach (var item in Model.Where(m => m.OrderId == orderid))
                {
                    <div class="col-sm-12">
                        <span class="col-sm-4"><b>@item.MovieTitle</b></span>
                        <span class="col-sm-4"><b>@item.NoofCopies</b></span>
                        <span class="col-sm-4"><b>@item.Price</b></span>
                    </div>

                }
                <div class="col-sm-12">
                    <span class="col-sm-7"><b>Order Date:</b>@Model.Where(m => m.OrderId == orderid).Select(m => m.OrderDate).FirstOrDefault()</span>
                    <span class="col-sm-7"><b>Total Price:</b>@Model.Where(m => m.OrderId == orderid).Select(m => m.TotalPrice).FirstOrDefault()</span>
                </div>
            </div>


        }

    }

</form>

<br />
<br />
<br />



@*@model IEnumerable<Movieproject.Models.ViewModels.OrderHistoryVM>

@{
    ViewBag.Title = "CheckOrders";
}

<h2>Order History</h2>
<form>
    <div class="col-sm-12">
        <label>Email:</label>
        <input type="text" placeholder="Enter Your Email" name="email" />
        <button>Check Orders</button>

    </div>

    @if (Model.Count() > 0)
    {

        foreach (var orderid in Model.Select(m => m.OrderId).Distinct())
        {
            <div class="col-sm-12 jumbotron" style="background-color:navajowhite">
                <div class="col-sm-12"><b>Order No: </b>@orderid</div>
                <div class="col-sm-12">
                    <span class="col-sm-1"><b>Movie</b></span>
                    <span class="col-sm-1"><b>No.of Copies</b></span>
                    <span class="col-sm-1"><b>Price</b></span>

                </div>

                <br />
                @foreach (var item in Model.Where(m => m.OrderId == orderid))
                {
                    <div class="col-sm-12">
                        <span class="col-sm-4"><b>@item.MovieTitle</b></span>
                        <span class="col-sm-4"><b>@item.NoofCopies</b></span>
                        <span class="col-sm-4"><b>@item.Price</b></span>
                    </div>

                }
                <div class="col-sm-12">
                    <span class="col-sm-7"><b>Order Date:</b>@Model.Where(m => m.OrderId == orderid).Select(m => m.OrderDate).FirstOrDefault()</span>
                    <span class="col-sm-7"><b>Total Price:</b>@Model.Where(m => m.OrderId == orderid).Select(m => m.TotalPrice).FirstOrDefault()</span>
                </div>
            </div>


        }

    }

</form>

<br />
<br />
<br />*@
