@model IEnumerable<Movieproject.Models.ViewModels.MovieListVM>

@{
    ViewBag.Title = "DisplayCart";

}


@if((int)Session["IsOrder"] == 0)
{
    <h2>Your Cart!</h2>
}
else
{
    <h2>Order Summary!</h2>
}
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('#POBtn').click(function () {
                $('#CustDiv').show();
                $('#POBtn').prop('disabled', true);
            });
            $('#ValBtn').click(function () {
                $.fn.VerifyCustomer();
            });

            $.fn.VerifyCustomer = function () {
                var usremail = $('#EmailTxt').val();
                if (usremail != '') {
                    $.ajax({
                        url: "/Customers/ValidateCustomer",
                        data: { email: usremail },
                        contentType: 'application/html;charset=utf-8',
                        type: 'Get',
                        dataType: 'html'
                    }).done(function (result) {
                        $('#ResDiv').html(result);
                    });
                }
                else {
                    $('#ResDiv').html("<p style='color:red'>Please enter E-mail Adress before you click validate!</p>");
                }
            }

        });
    </script>

</head>



<table class="table">
    <tr>
        <th>Movie</th>
        <th>Release Year</th>
        <th>No.of.Copies</th>
        <th>Price</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Movie</td>
            <td>@item.ReleaseYear</td>
            @if((int)Session["IsOrder"] == 0)
            {
                <td>
                    <button onclick="location.href='@Url.Action("AddtoCart", "Movies", new { MovieId = item.MovieId, AddorRemove = 0, IsCart = 1 })'">-</button>
                    @item.NoofCopies
                    <button onclick="location.href='@Url.Action("AddtoCart", "Movies", new { MovieId = item.MovieId, AddorRemove = 1, IsCart = 1 })'">+</button>
                </td>
            }
            else
            {
                <td>
                    @item.NoofCopies
                </td>
            }

            <td>@item.Price</td>
        </tr>
    }
    <tr>
        <td colspan="3"></td>
        <td colspan="1"><b>Total Price: @ViewBag.TotalPrice</b></td>
    </tr>
    <tr>
        <td colspan="3"></td>
        @if ((int)Session["IsOrder"] == 0)
        {
            <td colspan="1" align="right"><button class="btn btn-primary pull-left" id="POBtn">Place Order</button></td>
        }
        else
        {
            <td colspan="1" align="right"><button class="btn btn-primary pull-left" onclick="location.href='@Url.Action("SubmitOrder")'">Confirm Order</button></td>
        }
    </tr>
</table>
<div id="CustDiv" hidden>
    <p style="color:dodgerblue; font-weight:bold;">Enter your Email Address and click on validate to proceed with the order! </p>
    <label>Enter Email Address</label>
    <input type="text" id="EmailTxt">
    <button id="ValBtn">Validate</button>
</div>
<div id="ResDiv"> </div>


