@using Movieproject.Models;

@model dynamic
@{ var result = Model as Tuple<List<Movie>, List<Movie>, List<Movie>, List<Order>, List<Movie>>;}



@{
    ViewBag.Title = "HomePage";
    string[] ImgArray = { " ", " ", " ", " ", " ", " " };
    string[] TitleArray = { " ", " ", " ", " ", " ", " " };

    string[] CheapestTitleArray = { " ", " ", " ", " ", " ", " " };
    string[] CheapestImgArray = { " ", " ", " ", " ", " ", " " };

    var x = 0;
    var a = 0;
}

@foreach (var item in result.Item5)
{

    @Html.DisplayFor(modelItem => item.Title)
}


@*<h2>HomePage</h2>*@
@*@ViewBag.Oskar2*@

<div><br /></div>
@ViewBag.CustName2
<div><br /></div>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


@*@foreach (var item in result.Item4)
        {
        <div>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </div>
    }

    @foreach (var item in result.Item3)
    {
        <div>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
            @Html.DisplayFor(modelItem => item.CustomerId)
        </div>
    }*@
<div>
    <br />
    <br />

</div>
<div>
    <br />
    <br />
</div>
<div>

    Oldest Movies
    <br />
    @foreach (var item in result.Item2)
    {

        <img src="@item.ImageUrl" alt="No Image" class="img-circle" />
    }

</div>

Ordered by Titles:
<table border="1">

    @foreach (var item in result.Item1)
    {
        <tr>
            <th>@Html.DisplayFor(modelItem => item.Title) </th>

        </tr>
        <tr>
            <td><img src="@item.ImageUrl" alt="No Image" class="img-circle" /></td>

        </tr>
    }

    @foreach (var item in result.Item2)
    {

        CheapestTitleArray[a] = item.Title;
        CheapestImgArray[a] = item.ImageUrl;
        a++;
    }
</table>
<div>
    <br />
    <br />
</div>
OSKOSKAROSRK
<div>
    <br />
</div>
<table>
    <tr>
        @foreach (var item in result.Item2)
        {
            <th> @Html.DisplayFor(modelItem => item.Title)</th>
        }
    </tr>

    <tr>
        @foreach (var item in result.Item2)
        {
            <td><img src="@item.ImageUrl" alt="No Image" class="img-circle" /></td>
        }
    </tr>

</table>
END OSKARS

<table>

    <tr>
        <td> <img src="@CheapestImgArray[0]" alt="Los Angeles" style="width:100%" ; class="img-circle"></td>
        <td> <img src="@CheapestImgArray[1]" alt="Los Angeles" style="width:100%" ; class="img-circle"></td>
        <td> <img src="@CheapestImgArray[2]" alt="Los Angeles" style="width:100%" ; class="img-circle"></td>
        <td> <img src="@CheapestImgArray[3]" alt="Los Angeles" style="width:100%" ; class="img-circle"></td>
        <td> <img src="@CheapestImgArray[4]" alt="Los Angeles" style="width:100%" ; class="img-circle"></td>
    </tr>
    <tr>
        <th style="text-align:center">@CheapestTitleArray[0]</th>
        <th style="text-align:center">@CheapestTitleArray[1]</th>
        <th style="text-align:center">@CheapestTitleArray[2]</th>
        <th style="text-align:center">@CheapestTitleArray[3]</th>
        <th style="text-align:center">@CheapestTitleArray[4]</th>
    </tr>
    @*<img src="@ImgArray[0]" alt="Los Angeles" style="width:100%;">*@
</table>



<div>
    <br /> <br />
</div>
Oldest Movies:
<table border="1">
    <tr>
        <th>Title</th>
        <th><b>Release Year</b></th>
        <th>Price</th>
    </tr>
    @foreach (var item in result.Item2)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title) </td>
            <td>@Html.DisplayFor(modelItem => item.ReleaseYear) </td>
            <td>@Html.DisplayFor(modelItem => item.Price) </td>
        </tr>
    }
</table>

<div>
    <br /> <br /> <br />
</div>
    Cheapest Movies:
<table border="1">

    @foreach (var item in result.Item3)
    {

        <th>@Html.DisplayFor(modelItem => item.Title)</th>

        <tr><td><img src="@item.ImageUrl" alt="No Image" /></td></tr>



    }
</table>
<div>
    <br /> <br /> <br />
</div>
Most Expensive Order:
@*@foreach (var item in result.Item4)
    {
        <div>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </div>
    }*@


<div>
    <br />
</div>

<div>
    <br />
</div>
@foreach (var item in result.Item1)
{
    TitleArray[x] = item.Title;
    ImgArray[x] = item.ImageUrl;
    @*<div>
            @Html.DisplayFor(modelItem => ImgArray[x])
        </div>*@
    x++;
}
@*<img src="@item.ImageUrl" alt="No Image" />*@
<div class="container">
    <h2>
        Carousel
        @*@TitleArray[0]*@
    </h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:400px">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="3" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="4" class="active"></li>
        </ol>
        <div class="carousel-inner">

            <div class="item active">
                <img src="@ImgArray[0]" alt="Los Angeles" style="width:100%;">
                <div class="carousel-caption">
                    <label style="background-color:white; color:black"> @TitleArray[0] </label>
                </div>
            </div>

            @for (int y = 1; y < 5; y++)
            {
                <div class="item">
                    <img src="@ImgArray[y]" alt="Chicago" style="width:100%;">
                    <div class="carousel-caption">
                        <label style="background-color:white; color:black;"> @TitleArray[y] </label>

                    </div>
                </div>
            }

        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

@*------------------------------------------------------------------------------------------------
    ------------------------------------------------------------------------------------------------*@

@*<div class="container">
        <h2>
            Carousel
            @TitleArray[0]
        </h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:200px">
             Indicators
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>

             Wrapper for slides
            <div class="carousel-inner">

                <div class="item active">
                    <img src="@ImgArray[0]" alt="Los Angeles" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>@TitleArray[0]</h3>
                        <p>LA is always so much fun!</p>
                    </div>
                </div>

                <div class="item">
                    <img src="@ImgArray[1]" alt="Chicago" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>@TitleArray[1]</h3>
                        <p>Thank you, Chicago!</p>
                    </div>
                </div>

                <div class="item">
                    <img src="@ImgArray[2]" alt="New York" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>@TitleArray[2]</h3>
                        <p>We love the Big Apple!</p>
                    </div>
                </div>

                <div class="item">
                    <img src="@ImgArray[3]" alt="Osk" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>@TitleArray[3]</h3>
                        <p>We love the Big Apple!</p>
                    </div>
                </div>

                <div class="item">
                    <img src="@ImgArray[4]" alt="O" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>@TitleArray[4]</h3>
                        <p>We love the Big Apple!</p>
                    </div>
                </div>

            </div>

             Left and right controls
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>*@