@model Movieproject.Models.ViewModels.PageinationVM

@{
    ViewBag.Title = "PageInationMovies";
}


<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            /*debugger*/
            if ('@ViewBag.Url' != null) {
                sessionStorage['Paginate'] = '@ViewBag.Url';
           }
            if (sessionStorage['Paginate'] == document.URL) {
                $(document).scrollTop(sessionStorage['PaginatescrollTop']);
            }
        });

        $(document).scroll(function () {

            sessionStorage['Paginate'] = document.URL;
            sessionStorage['PaginatescrollTop'] = $(document).scrollTop();
        });
    </script>
</head>

<div class="col-sm-12">
    @foreach (var movie in Model.Movies)
    {
        @Html.Partial("_MoviesList", movie)
    }

</div>
 
<ul class="pagination">
    @for (int i = 1; i <= Model.PageCount; i++)
    {
        <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
            <a class="page-link" href="@Url.Action("PageInationMovies", "Movies", new { page=i })">@i</a>
        </li>
    }


</ul>

