
@{
    //var cnt = 0;
    int cart = 0;
}
@if (Session["Search"] != null)
{
    cart = 2;
}
@if (Session["CurrentPage"] != null)
{
    cart = 3;
}

<div class="panel panel-default col-sm-5 col-md-4 col-lg-3" style="border:solid 3px;background-color:cadetblue;margin:15px">

    <div class="panel-heading" style="background-color: cadetblue">
        <img src="@Model.ImageUrl" alt="No Image" />

        <button class="btn btn-default" style="margin-top:10px;" onclick="location.href='@Url.Action("AddtoCart","Movies",new { MovieId=Model.Id, AddorRemove = 1, IsCart = cart })'">Add to Cart</button>
    </div>

    <div class="panel-body" style="width: 200px; height: 300px; ">
        @*color: #0c2461;*@
        <div style="width:200px;height:300px;word-wrap:break-word;">

            <h4><span class="label label-default" @*style="color:black"*@>Title:@Model.Title</span></h4>
            <h4><span class="label label-default">Director:@Model.Director</span></h4>
            <h4><span class="label label-default">Lead Actor:@Model.LeadActor</span></h4>
            <h4><span class="label label-default">Release Year:@Model.ReleaseYear</span></h4>
            <h4><span class="label label-default">Price:@Model.Price</span></h4>

        </div>

    </div>
</div>





@*<b>Title:</b>@Model.Title<br />
    <b>Director:</b>@Model.Director<br />
    <b>Lead Actor:</b>@Model.LeadActor<br />
    <b>Release Year:</b>@Model.ReleaseYear<br />
    <b>Price:</b>@Model.Price<br />*@
@*<h4><span style="overflow-wrap:break-word; color:white; font-size:medium;background-color:#777777">Title:@Model.Title</span></h4>*@





@*<div class="panel panel-default col-sm-5 col-md-4 col-lg-3" style="border:solid 3px;background-color:burlywood;margin:15px">

        <div class="panel-heading" style="background-color:burlywood"><img src="@Model.ImageUrl" alt="No Image" /> </div>
        <div class="panel-body" style="color:black;word-wrap:break-word;">
            <div style="background-color:chocolate; width:200px; height:200px;">
                <div>
                    <b>Title: </b>@Model.Title<br />
                    <b>Director: </b>@Model.Director<br />
                    <b>Lead Actor: </b>@Model.LeadActor<br />
                    <b>Release Year: </b>@Model.ReleaseYear<br />
                    <b>Price: </b>@Model.Price<br />
                    <h4><span class="label label-default"></span></h4>
                </div>
            </div>
        </div>
        <input type="submit" id="AddBtn" value="Add to Cart" class="btn btn-default" />
        <button class="btn btn-default" style="position:absolute;bottom:20px;margin-left:20px" onclick="location.href='@Url.Action("AddtoCart","Movies",new { MovieId=Model.Id})'">Add to Cart</button>
        <button class="btn btn-default" style="margin-top:10px;" onclick="location.href='@Url.Action("AddtoCart","Movies",new { MovieId=Model.Id})'">Add to Cart</button>
    </div>*@
